@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Pompiere&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

nav.navbar {
    background-color: #004aad;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}

nav.navbar div.container-fluid {
    width: 95%;
}

nav#primary-navbar form.d-flex {
    width: 40%;
}

nav#primary-navbar form.d-flex input {
    width: 100%;
    border-radius: 2px
}

nav.navbar form.d-flex button {
    background-color: #e8900c;
    border-radius: 2px;
}

nav.navbar div.box-options {
    width: auto;
    margin-top: 8px;
}

nav.navbar ul#options {
    display: inline-flex;
    list-style: none;
    padding: 5px;
}

nav.navbar ul#options li.li2 {
    margin-left: 2rem   
}

nav.navbar ul div#boxtext {
    width: 120px;
    height: 50px;
    margin-left: 15px;
}

nav.navbar ul div#boxtext2 {
    width: 120px;
    height: 50px;
    margin-left: 15px;
}

nav.navbar ul div#boxtext p {
    font-size: 1.2rem;
    color: white;
    margin: auto;
}

nav.navbar ul div#boxtext2 p {
    font-size: 1.2rem;
    color: white;
    margin: auto;
    padding: 10px
}

nav#sub-nav {
    background-color: #e8900c;
}

nav#sub-nav div#sub-container ul#mobile-destaques {
    display: none;
}

nav#sub-nav div#sub-container {
    width: 100%;
}

nav#sub-nav div#sub-container button.navbar-toggler {
    margin-left: 10px;
}

nav#sub-nav div#sub-container button.navbar-toggler span#sub-menu {
    margin-left: 8px;
    color: white;
    vertical-align: middle;
}

nav#sub-nav div#sub-container ul#destaques{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: auto;
    display: inline-flex;
    list-style: none;
}

nav#sub-nav div#sub-container ul#destaques li {
    margin-left: 50px;
    font-size: 1.3rem;
    color: white;
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: #000;
}

nav#sub-nav div#sub-container h1 {
    font-size: 1.5rem;
    font-family: 'Pompiere', cursive;
    margin: auto;
}

@media (max-width: 1250px) {

    nav#primary-navbar form.d-flex {
        width: 65%;
    }
    nav#primary-navbar div.box-options {
        display: none;
    }

    nav#sub-nav div#sub-container ul#destaques li {
        font-size: 0.8rem;
        margin-left: 25px;
    }

    nav#sub-nav div#sub-container h1 {
        font-size: 1.1rem;
    }

}

@media (max-width: 800px) {
    nav#sub-nav div#sub-container ul#destaques li, nav#sub-nav div#sub-container h1 {
        display: none;
    }

    nav#sub-nav div#sub-container ul#mobile-destaques {
        display: block;
    }

    section.banner {

    }
}

@media (max-width: 650px) {

    nav#primary-navbar div.container-fluid a.logo {
        width: 90px;
        margin-bottom: 10px;
    }
    
    nav#primary-navbar form.d-flex {
        width: 100%;
    }
}

