section.banner {
    width: 90%;
    margin: auto;
}

@media (max-width: 800px) {

    section.banner {
        width: 100%
    }
}

@media (max-width: 600px) {

    section.banner {
        height: 600px;
    }
}