* {
    margin: 0; padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

nav#navbar{
    width: 100%;
    background-color: orange;
    margin-bottom: 2rem;
}

nav#navbar div.container a{
    font-size: 1.2rem;
}

div.titulo-pagina {
    width: 32rem;
    margin: auto;
    border-bottom: 1px solid black;
    text-align: center;
}

div.titulo-pagina h1 {
    font-size: 1.7rem;
}